!!! 5
%head
  %title Miamirb Coding Dojo May 2011
  %link(rel='stylesheet' type='text/css' href='stylesheets/screen.css')
%body
  .gutter
    .welcome
      :markdown
        # Welcome to the Miami Ruby Brigade Coding Dojo
      
        Let's write some Ruby!
        ## Install Ruby
        * Windows: [http://rubyinstaller.org/](http://rubyinstaller.org/)
        * Mac: Use default Ruby
        * Linux: Use your distribution's Ruby
        
        ## Editors
        ### Simple
        These are already installed.

        * Notepad - Windows
        * TextEdit - Mac, set it to plain text mode
        * gEdit - GNOME
        * nano - console
        
        ### GUI
        Easy-to-use, have syntax highlighting.

        * [Intype](http://intype.info/home/index.php) - Windows
        * [TextMate](http://macromates.com/) - Mac
        * gEdit - GNOME
        
        ### Traditional
        These are difficult to get started with.

        * [Vim](http://www.vim.org/)
        * [Emacs](http://www.gnu.org/software/emacs/)