!!! 5
%head
  %title Miamirb Coding Dojo May 2011
  %link(rel='stylesheet' type='text/css' href='stylesheets/screen.css')
%body
  .gutter
    .welcome
      :markdown
        # Welcome to the Miami Ruby Brigade Coding Dojo
      
        Let's write some Ruby!
        ## Install Ruby
        * Windows: [http://rubyinstaller.org/](http://rubyinstaller.org/)
        * Mac: Use default Ruby
        * Linux: Use your distribution's Ruby
        
        ## Editors
        ### Simple
        These are already installed.

        * Notepad - Windows
        * TextEdit - Mac, set it to plain text mode
        * gEdit - GNOME
        * nano - console
        
        ### GUI
        Easy-to-use, have syntax highlighting.

        * [Intype](http://intype.info/home/index.php) - Windows
        * [TextMate](http://macromates.com/) - Mac
        * gEdit - GNOME
        
        ### Traditional
        These are difficult to get started with.

        * [Vim](http://www.vim.org/)
        * [Emacs](http://www.gnu.org/software/emacs/)

    .content
      :markdown
        # Starting Out

        ## [FizzBuzz](fizzbuzz.html)
        For each number from 1 to 100, print 'Fizz' if the number is divisible
        by 3, 'Buzz' if the number is divisible by 5, 'FizzBuzz' if the number
        is divisible by both, or the number if divisible by neither.

        ## [Bench Racing](benchracing.html)
        Given a list of cars, each with weight and horsepower figures, find the
        power-to-weight ratio for each, and sort them from highest to lowest.

        ## Four-function Calculator
        Make a calculator that supports adding, subtracting, mutiplying, and
        dividing of two integers: "5 + 3" should return "8".

        # Use The Web
        ## Current Beat
        Get the current [Miami Internet Beat](http://miamibeats.org/) and output
        it.

        ## Anonymous Statuses
        Make a site like Twitter that allows users to anonymously post statuses,
        and view a homepage full of recent statuses.

        ## Photo Scraper
        Grab the ten most recent photos from the [Flickr Blog](http://blog.flickr.net/en).

        # Algorithms
        ## Pages per Pound
        You're about to get on a long flight, but you accidentally left your
        coat, iPad, Kindle, and your collection of cereal-box backs at the hotel.
        You have £10, room for six magazines, and a list of magazines. Pick the
        six magazines with the most pages per dollar so you don't die of boredom.

        ## Welcome To My World
        You have a list of six meetup attendees and their coordinates, and three
        potential meetup locations and their coordinates. Find the location that
        minimizes the distance everyone has to fly in their Delorean DMC-12s
        that don't need roads.

        ## Trust Graph
        Given a graph of how much seven people trust each other, find the
        most trustworthy path between all 21 possible pairs.