!!! 5
%head
  %title Welcome To My World - Miamirb Coding Dojo May 2011
  %link(rel='stylesheet' type='text/css' href='stylesheets/screen.css')
%body
  .gutter
    .welcome
      :markdown
        [Return to Main Page](index.html)
    .content
      :markdown
        # Welcome To My World
        You have a list of six meetup attendees and their coordinates, and three
        potential meetup locations and their coordinates. Find the location that
        minimizes the distance everyone has to fly in their Delorean DMC-12s
        that don't need roads.

        ## Inputs

        Each line is a name, latitude, and longitude. Latitude and longitude are
        in decimal and provided courtesy of Google, Inc. The first three lines
        are locations, and the last six are attendees:

        locations.txt
            MiamiShared 25.783426 -80.190043
            DeltaSkyClub 25.793242 -80.276131
            Monty's 25.73197 -80.232592
            Bryce 25.735366 -80.241749
            Ivan 25.783426 -80.190043
            Chris 25.825599 -80.187487
            Ted 26.121856 -80.332042
            Carlos 25.691231 -80.162859
            Pelle 25.767692 -80.134599