!!! 5
%head
  %title Pages per Pound - Miamirb Coding Dojo May 2011
  %link(rel='stylesheet' type='text/css' href='stylesheets/screen.css')
%body
  .gutter
    .welcome
      :markdown
        [Return to Main Page](index.html)
    .content
      :markdown
        # Pages per Pound
        You're about to get on a long flight, but you accidentally left your
        coat, iPad, Kindle, and your collection of cereal-box backs at the hotel.
        You have £20, room for six magazines, and a list of magazines. Pick the
        six magazines with the most pages while staying under budget so you
        don't die of boredom.

        ## The Magazines

        Listed as name, pages, and price:

        magazines.txt
            BagpipesMonthly 60 2
            LorryAndDriver 80 2.50
            KiltAficionado 96 3
            ScottishIndependenceDigest 165 5
            MonthlyReviewOfCastles 50 1.50
            DoubleDeckerBusPhotos 40 5
            KiltReview 128 4
            HolesInHadriansWall 60 2
            Malts 120 4
            CaskAles 185 5
            ScottishCuisine 50 1.50
            PoshLifeMonthly 100 3